# Use no Render em Environment Variables

# URL do seu front-end na Vercel.
# Exemplo:
# FRONTEND_URLS=https://seu-projeto.vercel.app
FRONTEND_URLS=http://localhost:5173

# Chave usada para gerar tokens JWT.
# Troque por uma chave grande e difícil.
SECRET_KEY=troque-essa-chave-em-producao
